<header class="header group">

  <form class="header-nav-guest-login" action="<%= session_url %>" method="post">
    <%= auth_token_form %>
    <input type="hidden" name="session[email]" value="alexander@hamilton.com">
    <input type="hidden" name="session[password]" value="hamilton">
    <button class="guest-login-button">Guest Log In</button>
  </form>

  <nav class="header-nav group">
    <h1 class="header-nav-logo">famebook</h1>

    <section class="header-nav-buttons group">

      <form class="header-nav-log-in-form group" action="<%= session_url %>" method="post">
        <%= auth_token_form %>

        <label>Email<br/>
          <input type="text" name="session[email]" value="">
        </label>

        <label>Password<br/>
          <input type="password" name="session[password]" value="">
        </label>

        <button>Log In</button>
      </form>

    </section>

  </nav>
</header>

<main class="main">
  <section class="content group">

    <section class="home-info group">
      <h2 class="main-caption">Connect with friends and famous people around you on Famebook.</h2>
      <section class="home-sub-captions group">

        <section class="sub-caption group">
          <i class="fa fa-comments-o"></i>
          <h4>Share what you know</h4><span>with friends of similar interests.</span>
        </section>

        <section class="sub-caption">
          <i class="fa fa-users"></i>
          <h4>See cool photos</h4><span>of people you admire.</span>
        </section>

        <section class="sub-caption">
          <i class="fa fa-cogs"></i>
          <h4>Discover more</h4><span>about amazing people you may not know yet.</span>
        </section>

      </section>
    </section>

    <section class="sign-up">
      <h1>Sign Up</h1>
      <h4>It's famous and always will be.</h4>

      <form class="sign-up-form" action="<%= users_url %>" method="post">
        <%= auth_token_form %>
        <section class="names group">
          <input class="first-name" type="text" name="user[first_name]" placeholder="First name">
          <input type="text" name="user[last_name]" placeholder="Last name">
        </section>
        <input type="text" name="user[email]" placeholder="Email">
        <input type="password" name="user[password]" placeholder="New password">
        <div class="button-border">
          <button>Sign Up</button>
        </div>
      </form>
    </section>

  </section>
</main>

<footer class="footer">
  <section class="footer-info">

    <p class="copyright">
      Famebook © 2016
    </p>
  </section>
<!-- Check with TA's to see if "Famebook © 2016" would be legal issue.
    Add an "About" link in the footer leading the user to either
      1. the github ReadME or 2. a new page with similar information.  -->
</footer>


<!-- Change the text in the input fields. Do not add them as values here! -->
<!-- Note: Add an email or password confirmation later. -->
